<nav class="navbar navbar-expand-lg animate__animated animate__backInDown animate__fast">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse " id="navbarNav">
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <ul class="navbar-nav ml-auto">

                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/img/avatar.png" alt="logo" width="50" height="50">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-white" href="/notes">todo_Recomendacion</a></li>
                            <li><a class="dropdown-item text-white" href="/notes/add">Editar_Configuracion</a></li>
                            <div class="dropdown-divider text-white"></div>
                            <li><a class="dropdown-item" href="/users/logout">Salir</a></li>
                        </ul>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link text-white nav-item" href="/users/signin">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white nav-item" href="/users/signup">Register</a>
                        </li>
                        <% } %>

            </ul>
        </div>
    </div>
</nav>
<%- include('msg') %>