<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container bodyprincipal">

    <header>
        <%- include('../../partials/header'); %>
    </header>

    <br>
    <div class="row">
        <div class="col-md-4 mx-auto ">
            <div class="card">
                <div class="card-body box">
                    <form class="form" action="/users/signin" method="post">
                        <img src="/img/login.png" alt="imagenLogo" class="mx-auto d-block m-4 logo">
                        <div class="form-group inputBox">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                            <%# name="name" para que funcione un logue con la consulta a la base de datos --> Endpoint
                                comentado en el controlador
                                %>
                        </div>
                        <div class="form-group ">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button class="col btn btn-primary btn-block">Signin</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <%- include('../../partials/footer-f') %>