<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container bodyprincipal">

    <header>
        <%- include('../../partials/header',{nombreusuario:nombreusuario, logo, Typeimg}); %>
    </header>

    <main>
        <h1>VIAJES</h1>


    </main>


    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <%- include('../../partials/footer-f') %>