<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Probando :v </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis alias ea sapiente ex laboriosam
                neque praesentium soluta molestias dignissimos, vitae atque ipsam quidem nulla, culpa delectus quo
                repellendus, consequuntur illum.</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/footer-f') %>