<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Probando :v </h1>
            <p>Sera la pagina real o nada? :V xdxdxd</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/footer-f') %>